<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.sohan.NativexPlugin"
    version="0.2.11">
    <name>NativexPlugin</name>
    <description>The Nativex Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,Nativex</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/NativexPlugin.js" name="CoolPlugin">
        <clobbers target="NativexPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativexPlugin" >
                <param name="android-package" value="NativexPlugin"/>
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
          
            <activity
            android:name="com.nativex.monetization.activities.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
 
			<activity
				android:name="com.nativex.videoplayer.VideoActivity"
				android:configChanges="orientation|screenSize" />
			</config-file>
		  <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    		
          </config-file>
        <source-file src="src/android/NativexPlugin.java" target-dir="src/" />
		
		<source-file src="src/android/gson-2.3.1.jar" target-dir="libs" />
        <source-file src="src/android/NativeXMonetizationSDK_v5.5.6.jar" target-dir="libs" />
		<framework src="com.google.android.gms:play-services-ads:+" />
    </platform>

</plugin>